<div class="pad">
	<h1>Quick Links</h1>
	<ul>
		<li><a href="http://projects.plural.cc/projects/gameserver">Game Server</a></li>
		<li><a href="http://jsonij.plural.cc">JSONiJ (JSON in Java)</a></li>
		<li><a href="https://github.com/openecho/Kinetic3">Kinetic K3</a></li>
		<li><a href="http://projects.plural.cc/projects/redmine-youtube">Redmine Youtube</a></li>
	</ul>
	<h1>Game Server Demos</h1>
	<h2>In Progress</h2>
	<ul>
		<li><a href="pages/mozaic002.html">Tile Engine Portal</a></li>
	</ul>
	<h2>Complete</h2>
	<ul>
		<li><a href="pages/mozaic001.html">Java Rendering</a></li>
		<li><a href="pages/perlin001.html">Perlin 2D Noise</a></li>
		<li><a href="pages/perlin002.html">Perlin Noise Terrain</a></li>
	</ul>
	<h1>In My Network</h1>
	<ul>
		<li><a href="http://grahamweldon.com">Graham Weldon</a></li>
		<li><a href="http://tomc3d.com/">Tom Campbell</a></li>
		<li><a href="http://spacedjase.com/">Jason Deacon</a>(<a href="http://nycterent.com/">Nycterent</a>)</li>
	</ul>
</div>
