<div class="pad">
	<h1>Quick Links</h1>
	<ul>
		<li><a href="http://projects.plural.cc/projects/gameserver">Game Server</a></li>
		<li><a href="http://jsonij.plural.cc">JSONiJ (JSON in Java)</a></li>
		<li><a href="https://github.com/openecho/Kinetic3">Kinetic K3</a></li>
		<li><a href="http://projects.plural.cc/projects/redmine-youtube">Redmine Youtube</a></li>
	</ul>
	<h1>Works In Progress</h1>
	<ul>
		<li><a href="pages/mozaic001.html">Mozaic Test 1</a></li>
		<li><a href="secret/secret3.html">Secret Test 3</a></li>
	</ul>
	<h1>Pages</h1>
	<ul>
		<li><a href="secret/secret1.html">Perlin 2D Noise</a></li>
		<li><a href="secret/secret2.html">Perlin Noise Terrain</a></li>
	</ul>
	<h1>In My Network</h1>
	<ul>
		<li><a href="http://grahamweldon.com">Graham Weldon</a></li>
		<li><a href="http://tomc3d.com/">Tom Campbell</a></li>
	</ul>
</div>
