<div class="pad">
	<h1>Open plural.cc</h1>
	<p>
		The source for <a href="http://plural.cc">plural.cc</a> is hosted <a href="https://github.com/openecho/plural.cc">here</a>. If you like anything then feel free to use it (read the <a href="pages/licence">licence</a>).
	</p>
</div>
