<div class="pad">
	<div class="info">
		Please bear with me; <a href="http://plural.cc">plural.cc</a> is under development. It is a slow and ongoing effort. I desire a variety of functionality and generally implement it as I need it. I am working on making the different services look similar. If you have any suggestions then drop me a line.
	</div>
</div>
