<% content_for :content do %>
<div class="pad">
	<div id="content">
		<h1>Meet plural.cc</h1>
		<p>
			<a href="http://plural.cc">plural.cc</a> is the ongoing effort to create a single and managed location to host projects (specifically my projects). Like most developers, I start a lot of projects and I finish few (read <span style="font-family: 'Courier New', monospace">none &#x0B1; &#x3B5;</span>). In my version control nightmare I [accidently] revert versions, [accidently] loose features and [predictably] end up with code that does not makes sense. 
		</p>
		<p>
			Enter <a href="http://plural.cc">plural.cc</a> and some decent tools. This site will host my source, run instances of my projects and host other peoples projects that are in their infancy where they are of interest to me.
		</p>
		<p>
			I have decided on a <a href="http://en.wikipedia.org/wiki/Web_application_framework">web framework</a> (as of the 20110826). This site is currently built using <a href="http://rubyonrails.org/">Ruby on Rails</a> which has forced me to quickly pick up some <a href="http://www.ruby-lang.org/en/">Ruby</a>. <a href="https://github.com/openecho/plural.cc">The source for this page is hosted here</a>. <a href="http://cakephp.org">CakePHP</a> is closer than I realised to Rails so it has been a much eaiser transition than I expected. I am using <a href="http://dalibornasevic.com/posts/21-rvm-and-passenger-setup-for-rails-2-and-rails-3-apps">a hack based on rvm</a> to run a single instance of <a href="http://www.modrails.com/">Passenger</a> in Apache and concurrently host Rails 3.0 (plural.cc) and Rails 2.11 (projects.plural.cc). The downside is that I am stuck on Ruby 1.8.7 for everything (which is currently not an issue). I can now start figuring out implementations of the various bits of functionality I desire.
		</p>
		<p>
			While I am figuring that out you can check out <a href="http://jsonij.plural.cc">JSONiJ</a> or do a bit of development on <a href="https://github.com/openecho/Kinetic3">Kinetic</a> with me.
		</p>
		<h1>Services</h1>
		<p>
			The following is a summary of services currently running in the <a href="http://plural.cc">plural.cc</a> stack. I host solutions where I need to and reuse services where I can and it makes sense. <a href="http://www.google.com">Google</a> is quite core to the stack and it integrates well with my mobile phone.
		</p>
		<ul>
			<li><a href="http://plural.cc">Main site</a> powered by <a href="http://rubyonrails.org">Ruby on Rails</a></li>
			<li><a href="http://projects.plural.cc">Projects</a> powered by <a href="http://www.redmine.org">Redmine</a></li>
			<li><a href="http://mail.plural.cc">Email</a> powered by <a href="http://www.gmail.com">Gmail</a></li>
			<li><a href="http://blog.plural.cc">Blog</a> powered by <a href="http://www.blogger.com">Blogger</a></li>
			<li><a href="http://docs.plural.cc">Documents</a> powered by <a href="http://docs.google.com">Google Docs</a href="http://projects.plural.cc"></li>
			<li>Directory Services powered by <a href="http://www.openldap.org">OpenLDAP</a></li>
		</ul>
		<p>
			The next service is a <a href="http://www.redmine.com">Redmine</a> powered <a href="http://www.redmine.com">Gitosis</a> setup to host my private code &amp; I will also need to figure out which framework I am using and make some nice tools to manage the <a href="http://www.openldap.org">OpenLDAP</a> instance.
		</p>
		<h1>Network with Me</h1>
		<p>
			If you use any of the following systems then feel free to say hello.
		</p>
		<ul>
			<li><a href="http://au.linkedin.com/in/johnwmarsden">LinkedIn</a></li>
			<li><a href="https://plus.google.com/107020359173094578612/posts">Google+</a></li>
			<li><a href="https://github.com/openecho">Github</a></li>
			<li><a href="https://bitbucket.org/openecho">Bitbucket</a></li>
		</ul>
		<p>You could also drop me a line at j.w.marsden[at]gmail.com</p>
	</div>
</div>
<% end %>

