<% content_for :content do %>
h1. Meet plural.cc

"plural.cc":http://plural.cc is the ongoing effort to create a single and managed location to host projects (specifically my projects). Like most developers, I start a lot of projects and I finish few (read <span style="font-family: 'Courier New', monospace">none ==&#x0B1;== ==&#x3B5;==</span>). In my version control nightmare I [accidently] revert versions, [accidently] loose features and [predictably] end up with code that does not makes sense.

Enter "plural.cc":http://plural.cc and some decent tools. This site will host my source, run instances of my projects and host other peoples projects that are in their infancy where they are of interest to me.

I have decided on a "web framework":http://en.wikipedia.org/wiki/Web_application_framework (as of the 20110826). This site is currently built using "Ruby on Rails":http://rubyonrails.org/ which has forced me to quickly pick up some "Ruby":http://www.ruby-lang.org/en/. The content markup is being done by the awesome "RedCloth":http://redcloth.org/faq textile package. "CakePHP":http://cakephp.org and "Grails":http://grails.org/ are closer than I realised to Rails making it an easy transistion. I am using "a hack based on rvm":http://dalibornasevic.com/posts/21-rvm-and-passenger-setup-for-rails-2-and-rails-3-apps to run a single instance of "Passenger":http://www.modrails.com/ in Apache and concurrently host Rails 3.0 (plural.cc) and Rails 2.11 (projects.plural.cc). The downside is that I am stuck on Ruby 1.8.7 for everything (which is currently not an issue). I can now start figuring out implementations of the various bits of functionality I desire.

While I am figuring that out you can check out "JSONiJ":http://jsonij.plural.cc or do a bit of development on "Kinetic":https://github.com/openecho/Kinetic3 with me.

h1. Services

The following is a summary of services currently running in the "plural.cc":http://plural.cc stack. I host solutions where I need to and reuse services where I can and it makes sense. "Google":http://www.google.com is quite core to the stack and it integrates well with my mobile phone.

* "Main site":http://plural.cc powered by "Ruby on Rails":http://rubyonrails.org
* "Projects":http://projects.plural.cc powered by "Redmine":http://www.redmine.org
* "Email":http://mail.plural.cc powered by "Gmail":http://www.gmail.com
* "Blog":http://blog.plural.cc powered by "Blogger":http://www.blogger.com
* "Documents":http://docs.plural.cc powered by "Google Docs":http://docs.google.com
* Directory Services powered by "OpenLDAP":http://www.openldap.org

h1. Network with Me

If you use any of the following systems then feel free to say hello.

* "LinkedIn":http://au.linkedin.com/in/johnwmarsden
* "Google+":https://plus.google.com/107020359173094578612/posts
* "GitHub":https://github.com/openecho
* "Bitbucket":https://bitbucket.org/openecho

You could also drop me a line at j.w.marsden[at]gmail.com

div(info). Please bear with me; "plural.cc":http://plural.cc is under development. It is a slow and on-going effort. I desire a variety of functionality and generally implement it as I need it. I am working on making the different services look similar. If you have any suggestions then drop me a line.
<% end %>

