<% content_for :title do %>plural.cc - Mozaic Test 002<% end %>
<% content_for :description do %>Mozaic Tile Engine Java Test 002<% end %>
<% content_for :keywords do %>plural,Java,Mozaic,Tile Engine<% end %>
<% content_for :heading do %>Mozaic Tile Portal<% end %>
<% content_for :content do %>
        <div class="pad">
                <div class="info"> 
			The same applet running on this screen is wrapped in a JFrame that you can download from <a href="/applets/mozaic.jar">here</a> and run, 
			
bc. > java -jar mozaic.jar cc.plural.mozaic002.Application  
			
			Portals are not just for boats!
                </div>
		<div id="canvas">
<notextile>
<applet code="cc.plural.mozaic002.Applet.class" 
	archive="/applets/mozaic.jar"
	width=960 height=600>
	<param name=page value="mozaic002">
</applet>
</notextile>
		</div>

h1. Notes for this page

The second of the Mozaics! Mozaic is the project name for the tile engine that I am working on. This version demonstrates the portaling ability of mozaic to an underlying set of tiles.

* The source for Mozaic can be found "here":https://bitbucket.org/jmarsden/mozaic/src and I would love to know if you use it.
* I am using the Fast Mersenne Twister Implementation. You can find the software on the authors page <a href="http://www-stat.stanford.edu/~naras/programs/">here</a> and its licence is in its header.
* I am not using it in this test, but my jar contains <a href="http://j3d.org/">the Java3D</a> implementation for Perlin Noise. Its licence is in the linked header.

        </div>

<% end %>
