<% content_for :javascript do %>
<%= javascript_include_tag 'pages/s1.compressed' %>
<%= javascript_tag do -%>
	dojo.ready(function() {
		dojo.byId("seed").value = Math.floor(Math.random()*0xffffffff);
		init();
	});
<% end -%>
<% end %>
<% content_for :appbar do %>
	<div id="appbar">
		<span class="first">
		<label for="blocksize">Block Size:</label>
		<select id="blocksize">
			<option value="1">1</option>
			<option value="3">3</option>
			<option value="6" selected="true">6</option>
			<option value="12">12</option>
			<option value="24">24</option>
		</select>
		</span>
		<span>
			<label for="seed">Seed:</label>
			<input id="seed" type="text" size="11" value=""></input>
		</span>
		<span>
		<label for="persistence">Persistence:</label>
		<select id="persistence">
			<option value="1">1</option>
			<option value="0.9">0.9</option>
			<option value="0.8">0.8</option>
			<option value="0.75">0.75</option>
			<option value="0.5" selected="true">0.5</option>
			<option value="0.25">0.25</option>
			<option value="0.125">0.125</option>
			<option value="0.0625">0.0625</option>
		</select>
		</span>
		<span>
			<label for="octaves">Octaves:</label>
			<select id="octaves">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4" selected="true">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
		</span>
		<span>
			<a href="#" onclick="handleNoiseDraw()">Draw Noise</a>
		</span>
	<!--
		<ul>
			<li class="first">
				<div>
				<label for="blocksize">Block Size:</label>
				<select id="blocksize">
					<option value="1">1</option>
					<option value="3">3</option>
					<option value="6" selected="true">6</option>
					<option value="12">12</option>
					<option value="24">24</option>
				</select>
				</div>
			</li>
			<li><label for="seed">Seed:</label><input id="seed" type="text" size="11" value=""></input></li>
			<li>
				<div>
				<label for="persistence">Persistence:</label>
				<select id="persistence">
					<option value="1">1</option>
					<option value="0.9">0.9</option>
					<option value="0.8">0.8</option>
					<option value="0.75">0.75</option>
					<option value="0.5" selected="true">0.5</option>
					<option value="0.25">0.25</option>
					<option value="0.125">0.125</option>
					<option value="0.0625">0.0625</option>
				</select>
				</div>
			</li>
			<li>
				<div>
				<label for="octaves">Octaves:</label>
				<select id="octaves">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4" selected="true">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
				</div>
			</li>
			<li>
				<div>
					<a href="#" onclick="handleNoiseDraw()">Draw Noise</a>
				</div>
			</li>
		</ul>
		-->
	</div>
<% end %>
<% content_for :content do %>
	<div class="pad">
		<div class="info">
			Whats all this then? Its a HTML5 Canvas Prototype. Your browser needs to be modern, quick and have a compliant canvas object. To start click [draw noise] and you should see a cloudy pattern based on <a href="http://en.wikipedia.org/wiki/Perlin_noise">Perlin Noise</a>. The generated noise will always be the same for the same seed and you can change the behavior of the generated result by playing with the inputs.<br /><br />
			<a href="#" onclick="Canvas2Image.saveAsPNG(document.getElementById('display'));">Click here to download your creation as a PNG (name your save file with .png extension).</a>
		</div>
		<div id="canvas">
			<canvas id="display" width="960" height="600">
				Your Browser Does Not Support the HTML5 Canvas. Awwwww, no secret test for you.
			</canvas>
		</div>
		<div id="content">
			<h1>Notes for this page</h1>
			<p>
				This finishes secret test one. I can now move onto secret test two. Things I should note here are;
			</p>
			<ul>
				<li>Obviously <a href="http://en.wikipedia.org/wiki/Perlin_noise">Perlin Noise</a> is by <a href="http://cs.nyu.edu/~perlin/">Ken Perlin</a> - thanks for not knowing you should create a patent for brilliant and novel ideas :-)</li>
				<li><a href="http://devmag.org.za/2009/04/25/perlin-noise/">This tutoral</a> helped me a lot.</li>
				<li>My randomness is provided by a sweet <a href="http://www.math.sci.hiroshima-u.ac.jp/~m-mat/MT/VERSIONS/JAVASCRIPT/java-script.html">javascript implementation of Mersenne Twister</a> (which is a strait port of the original c implementation by <a href="http://en.wikipedia.org/wiki/Mersenne_twister">Makoto Matsumoto and Takuji Nishimura</a>).</li>
				<li>The image download is provided by the <a href="http://www.nihilogic.dk/labs/canvas2image/">canvas2image</a> package.</li>
				<li>The javascript for this page is not open source (yet).</li>
			</ul>
		</div>
	</div>
<% end %>
