<% content_for :title do %>plural.cc - terrain generation<% end %>
<% content_for :description do %>secret mens business two - terrain generation using perlin noise<% end %>
<% content_for :keywords do %>plural,perlin noise,javascript,terrain<% end %>
<% content_for :javascript do %>
<%= javascript_include_tag 'pages/s2.compressed' %>
<%= javascript_tag do -%>
	dojo.ready(function() {
		dojo.byId("seed").value = Math.floor(Math.random()*0xffffffff);
		init();
	});
<% end -%>
<% end %>
<% content_for :appbar do %>
<div id="appbar">
	<span class="first">
		<label for="blocksize">Block Size:</label>
		<select id="blocksize">
			<option value="6" selected="true">6</option>
			<option value="8">8</option>
			<option value="12">12</option>
			<option value="24">24</option>
		</select>
	</span>
	<span>
		<label for="seed">Seed:</label>
		<input id="seed" type="text" size="11" value=""></input>
	</span>
	<span>
		<label for="persistence">Persistence:</label>
		<select id="persistence">
			<option value="1.0">1.0</option>
			<option value="0.9">0.9</option>
			<option value="0.8">0.8</option>
			<option value="0.7">0.7</option>
			<option value="0.6">0.6</option>
			<option value="0.5" selected="true">0.5</option>
			<option value="0.4">0.4</option>
			<option value="0.3">0.3</option>
			<option value="0.2">0.2</option>
			<option value="0.1">0.1</option>
			<option value="0.05">0.05</option>
		</select>
	</span>
	<span>
		<label for="octaves">Octaves:</label>
		<select id="octaves">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9" selected="true">9</option>
			<option value="10">10</option>
		</select>
	</span>
	<span>
		<a href="#" onclick="handleHoirzonDraw()">Draw Horizon</a>
	</span>
</div>
<% end %>
<% content_for :content do %>
	<div class="pad">
		<div class="info">
			Terrain Generation HTML5 prototype. Your browser needs to be modern, quick and have a compliant canvas object. To start click [draw horizon] and get a side view of terrain based on <a href="http://en.wikipedia.org/wiki/Perlin_noise">Perlin Noise</a>. The generated mass will always be the same for the same seed and you can change the behavior of the generated result by playing with the inputs.<br /><br />
			<a href="#" onclick="Canvas2Image.saveAsPNG(document.getElementById('display'));">Click here to download your creation as a PNG (name your save file with .png extension).</a>
		</div>
		<div id="canvas">
			<canvas id="display" width="960" height="600">
				Your Browser Does Not Support the HTML5 Canvas. Awwwww, no secret test for you.
			</canvas>
		</div>
		<div id="content">
			
<h1>Notes for this page</h1>

* This page uses single dimension "Perlin Noise":http://en.wikipedia.org/wiki/Perlin_noise by "Ken Perlin":http://cs.nyu.edu/~perlin/
* My randomness is provided by a sweet "javascript implementation of Mersenne Twister":http://www.math.sci.hiroshima-u.ac.jp/~m-mat/MT/VERSIONS/JAVASCRIPT/java-script.html (which is a strait port of the original c implementation by "Makoto Matsumoto and Takuji Nishimura":http://en.wikipedia.org/wiki/Mersenne_twister
* Currently the Javascript for this page is &copy; me.

		</div>
	</div>
<% end %>
