<div id="headerback">
	<div id="headerborder">
		<div id="header">
			<h1><span class="first">plural</span><span class="second">.</span><span class="third">cc</span></h1>
			<h2><%= heading %></h2>
			<%= content_for?(:appbar) ? yield(:appbar) : "" %>	
		</div>
	</div>
</div>
