<div id="sitebar">
	<div id="menu">
		<ul>
			<li><span><a href="http://plural.cc">Home</a></span></li>
			<li><span><a href="http://projects.plural.cc">Projects</a></span></li>
			<li><span><a href="http://blog.plural.cc">Blog</a></span></li>
			<li><span><a href="http://mail.plural.cc">Mail</a></span></li>
		</ul>
	</div>
	<div id="options">
		<ul style="display: none">
			<li><a href="#">Login</a></li>
		</ul>
	</div>
</div>
