<%= javascript_tag do -%>
	dojo.xhrGet({
	    url:"/site/bar",
	    handleAs:"json",
	    load: function(data){
	    	var menu = dojo.byId('menu'); 
	    	dojo.forEach(data, function(entry, i) {
	    		var item = dojo.create('li', {}, menu, 'last');
	    		var span = dojo.create('span', {}, item);
	    		var link = dojo.create('a',{style: "opacity: 0", href: entry.url, innerHTML: entry.page}, span);
	    		var fadeArgs = {
	    			node: link,
	    			duration: 500
	    		}
	    		dojo.fadeIn(fadeArgs).play();
	    	});
	    	
	    }
	});
<% end -%>
<div id="sitebar">
	<div>
		<ul id="menu">
		</ul>
	</div>
	<div id="options">
		<ul style="display: none">
			<li><a href="#">Login</a></li>
		</ul>
	</div>
</div>
